<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://meghnaschedulerfunction0220200723104815.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/07bff1b6-24e0-4abe-80fa-739ee2b3fb90/resourcegroups/MeghnaScheduler/providers/Microsoft.Web/sites/MeghnaSchedulerFunction0220200723104815</ResourceId>
    <UserName>$MeghnaSchedulerFunction0220200723104815</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://meghnaschedulerfunction0220200723104815.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>